<template>
  <section class="todo">
    <ol>
      <li
        v-for="item in $store.getters.list(($route.params.page?($route.params.page-1):0))"
        :key="Math.random() + item.id">
        <span class="text">{{item.text}}</span>
        <span class="control">
          <i class="fas fa-check-square" v-if="item.check" @click="uncheck(item.id)"></i>
          <i class="far fa-check-square" v-else @click="check(item.id)"></i>
          <i class="far fa-edit" @click="$router.push('/update/' + item.id)"></i>
          <i class="far fa-trash-alt" @click="del(item.id)"></i>
        </span>
      </li>
    </ol>
    <span class="loading" :class="{active: loading}">
      Loading...
    </span>
  </section>
</template>

<script>
import { mapActions } from 'vuex';
import { db } from '../firebase';

export default {
  name: 'Todo',
  data() {
    return {
      loading: false,
    };
  },
  beforeRouteUpdate(to, from, next) {
    const start = from.params.page === undefined ? 1 : (from.params.page - 0);
    this.loading = true;
    console.log(from.params.page, to.params.page);
    this.nextChunk(start, to.params.page - 0, () => {
      this.loading = false;
      next();
    });
  },
  beforeRouteLeave(to, from, next) {
    const start = from.params.page === undefined ? 1 : (from.params.page - 0);
    this.loading = true;
    console.log(from.params.page, to.params.page);
    this.nextChunk(start, to.params.page - 0, () => {
      this.loading = false;
      next();
    });
  },
  async mounted() {
    const data = [];
    let res;

    if (!this.$route.params.page) {
      res = await db.collection('todo')
        .orderBy('timestamp', 'desc')
        .limit(10)
        .get();
      res.forEach(doc => { // eslint-disable-line
        const info = doc.data();
        data.push({
          id: doc.id,
          text: info.text,
          check: info.check,
          timestamp: info.timestamp,
        });
      });

      this.$store.dispatch('init', data);
    } else if (this.$store.getters.list.length < this.$route.params.page * 10) {
      res = await db.collection('todo')
        .orderBy('timestamp', 'desc')
        .limit(this.$route.params.page * 10)
        .get();
      res.forEach(doc => { // eslint-disable-line
        const info = doc.data();
        data.push({
          id: doc.id,
          text: info.text,
          check: info.check,
          timestamp: info.timestamp,
        });
      });

      this.$store.dispatch('init', data);
    }

    res = await db.collection('todo').get();

    this.$store.dispatch('setLen', res.size);
  },
  methods: {
    ...mapActions([
      'check',
      'uncheck',
    ]),
    async del(id) {
      await this.$store.dispatch('delete', id);
      const length = this.$store.getters.length; // eslint-disable-line

      if (length === (this.$route.params.page - 1) * 10) {
        if (this.$route.params.page !== '1') {
          this.$router.push('/page/' + (this.$route.params.page - 1)); // eslint-disable-line
        }
      }
    },
    nextChunk(start, end, next) {
      const length = this.$store.getters.length; // eslint-disable-line
      if (end > start) {
        if (length < end * 10 && length === start * 10) {
          db.collection('todo')
            .orderBy('timestamp', 'desc')
            .startAfter(this.$store.getters.last.timestamp)
            .limit(end * 10 - length)
            .get()
            .then(res =>
              res.forEach(doc => { // eslint-disable-line
                const data = [];
                const info = doc.data();
                data.push({
                  id: doc.id,
                  text: info.text,
                  check: info.check,
                  timestamp: info.timestamp,
                });
                this.$store.dispatch('pull', data);
                next();
              }), err => console.log(err));
        } else next();
      } else next();
    },
  },
};
</script>

<style lang="scss">

  ol {
    counter-reset: list;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  ol > li {
    list-style: none;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .text {
      flex-grow: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: calc(100% - 64px - 13px);
    }

    .control {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      font-size: 16px;

      i {
        margin: 0 3px;
        cursor: pointer;
        transition: color .2s ease-in-out;

        &.fas {
          color: #7ca65c;
        }

        &.fa-trash-alt:hover {
          color: crimson;
        }

        &.fa-edit:hover {
          color: dodgerblue;
        }
      }
    }
  }
  ol > li:before {
    content: counter(list) ") ";
    counter-increment: list;
    margin-right: 5px;
  }

  .todo {
    width: 100%;
    color: #334756;
    font-size: 16px;
    font-weight: 600;

    .loading {
      position: fixed;
      bottom: -100px;
      right: 10px;
      padding: 10px 20px;
      background-color: rgba(0,0,0,0.5);
      color: white;
      font-size: 20px;
      transition: bottom .2s ease-in-out;

      &.active {
        bottom: 10px;
      }
    }
  }
</style>
