<template>
  <div id="app">
    <div id="lists">
      <div id="form">
        <textarea
          v-model.trim="description"
          placeholder="Enter what we will do..."
          :class="{error: error}"
          @keydown.prevent.enter="push()">
        </textarea>
        <span @click="push()" v-if="$route.name !== 'update'">Add Card</span>
        <span @click="push()" v-else>Save Card</span>
      </div>
      <router-view/>
      <div id="nav" v-if="$store.getters.links.length > 1 && $route.name !== 'update'">
        <router-link
          v-for="index in $store.getters.links"
          :to="'/page/' + (index + 1)"
          :key="Math.random() + index"
          :class="{'router-link-exact-active': (index === 0 && !$route.params.page)}">
          {{index+1}}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      description: '',
      error: false,
    };
  },
  mounted() {
    console.log(this.$route);
  },
  methods: {
    push() {
      if (this.$data.description === '') this.$data.error = true;
      else {
        this.$data.error = false;
        if (this.$route.name === 'update') {
          this.$store.dispatch('update', {
            text: this.$data.description,
            id: this.$route.params.id,
          });
          this.$data.description = '';
        } else {
          this.$store.dispatch('push', {
            text: this.$data.description,
            check: false,
          });
          this.$data.description = '';
        }

        // console.log(this);

        if (this.$route.params.page && this.$route.params.page !== '1') this.$router.push('/page/1');
        if (this.$route.name === 'update') this.$router.push('/page/1');
      }
    },
  },
};
</script>


<style lang="scss">

  body {
    padding: 0;
    margin: 0;
  }

  input, textarea, li {
    box-shadow: 0 1px 2px #bbc1c6;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background: url("./assets/wood.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;

    @media (max-width: 500px) {
      align-items: flex-start;
    }

    @media (max-height: 900px) {
      align-items: flex-start;
    }
  }

  #lists {
    width: 500px;
    height: auto;
    background-color: #e0e3e6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    transition: all .8s ease-in-out;

    @media (max-width: 500px) {
      margin: 20px;
    }

    @media (max-height: 900px) {
      margin: 20px;
    }

    #form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      textarea {
        width: 100%;
        min-height: 75px;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 5px;
        font-size: 15px;
        resize: none;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        border: 1px solid transparent;
        transition: all .2s ease-in-out;
        outline: none;

        &.error {
          border: 1px solid crimson;
        }
      }
      span {
        padding: 10px;
        color: white;
        background-color: #7ca65c;
        border-radius: 5px;
        box-shadow: 0 1px 1px #567239;
        cursor: pointer;
        margin: 10px 0;
      }
    }

    #nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px 0;

      a {
        font-weight: bold;
        color: #233848;
        text-decoration: none;
        margin: 0 5px;
        transition: color .2s ease-in-out;

        &.router-link-exact-active {
          color: #7ca65c;
        }

        &:hover {
          color: #7ca65c;
        }
      }
    }
  }
</style>
